<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Backbone Model Builder</legend>

<!-- Multiple Radios -->
<div class="control-group">
  <label class="control-label" for="type">Select Type</label>
  <div class="controls">
    <label class="radio" for="type-0">
      <input type="radio" name="type" id="type-0" value="Normal" checked="checked">
      Normal
    </label>
    <label class="radio" for="type-1">
      <input type="radio" name="type" id="type-1" value="Require Js">
      Require Js
    </label>
  </div>
</div>

<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label" for="">Insert File</label>
  <div class="controls">
    <label class="checkbox" for="-0">
      <input type="checkbox" name="" id="-0" value="placeholder">
      placeholder
    </label>
    <label class="checkbox" for="-1">
      <input type="checkbox" name="" id="-1" value="utility">
      utility
    </label>
    <label class="checkbox" for="-2">
      <input type="checkbox" name="" id="-2" value="lazyload">
      lazyload
    </label>
    <label class="checkbox" for="-3">
      <input type="checkbox" name="" id="-3" value="Msgbox">
      Msgbox
    </label>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="txtModel">Model Name</label>
  <div class="controls">
    <input id="txtModel" name="txtModel" type="text" placeholder="Model Name" class="input-xlarge" required="">
    <p class="help-block">example login</p>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="txtel">el</label>
  <div class="controls">
    <input id="txtel" name="txtel" type="text" placeholder="Element name" class="input-xlarge" required="">
    <p class="help-block">example "#container"</p>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="txttemplate">Template</label>
  <div class="controls">
    <input id="txttemplate" name="txttemplate" type="text" placeholder="Template Name" class="input-xlarge" required="">
    <p class="help-block">example _.template(loginHtml)</p>
  </div>
</div>

<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label" for="checkboxes">options</label>
  <div class="controls">
    <label class="checkbox" for="checkboxes-0">
      <input type="checkbox" name="checkboxes" id="checkboxes-0" value="Create Initialize()">
      Create Initialize()
    </label>
    <label class="checkbox" for="checkboxes-1">
      <input type="checkbox" name="checkboxes" id="checkboxes-1" value="Create Render()">
      Create Render()
    </label>
    <label class="checkbox" for="checkboxes-2">
      <input type="checkbox" name="checkboxes" id="checkboxes-2" value="Create OnClose()">
      Create OnClose()
    </label>
  </div>
</div>

<!-- Button -->
<div class="control-group">
  <label class="control-label" for="btnCreatemodel"></label>
  <div class="controls">
    <button id="btnCreatemodel" name="btnCreatemodel" class="btn btn-primary">Create Model</button>
  </div>
</div>

</fieldset>
</form>
